.categorie-div,
.interet-categorie-div {
    margin-bottom: 2em;
    border: 1px solid #ccc;
    padding: 1em;
}

.tag,
.interet-tag {
    display: inline-block;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin: 0.5em;
    font-size: 14px;
    cursor: pointer;
}

.interet-selected {
    background-color: #28a745;
}

.interet-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto;
}

.interet-modal {
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.interet-btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 1em 2em;
    border-radius: 5px;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 2em;
    right: 2em;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.close-button:hover {
    color: red;
}
