.categorie-div {
    margin-bottom: 20px; /* Espace entre les catégories */
    border: 1px solid #ccc; /* Bordure autour de la catégorie */
    padding: 10px;
}

.tag {
    display: inline-block; /* Affichage en ligne */
    background-color: #007bff; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px 10px; /* Espacement intérieur */
    margin: 5px; /* Espacement entre les tags */
    font-size: 14px; /* Taille de la police */
}
.interet-overlay {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow:scroll;
}

.interet-modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.interet-categorie-div {
    margin-bottom: 20px; /* Espace entre les catégories */
    border: 1px solid #ccc; /* Bordure autour de la catégorie */
    padding: 10px;
}

.interet-tag {
    display: inline-block; /* Affichage en ligne */
    background-color: #007bff; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px 10px; /* Espacement intérieur */
    margin: 5px; /* Espacement entre les tags */
    font-size: 14px; /* Taille de la police */
    cursor: pointer; /* Curseur indiquant que c'est cliquable */
}

.interet-selected {
    background-color: #28a745; /* Couleur pour les tags sélectionnés */
}

.interet-btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.close-button:hover {
    color: red; /* Change la couleur au survol */
}