.categorie-div,
.interet-categorie-div {
    margin-bottom: 1em;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius:5px ;
}

.interet-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    overflow: auto;

}

.interet-modal {
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    margin-left: 20%;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.tag,
.interet-tag {
    display: inline-block;
    border-radius: 5px;
    padding: 0.5em 0.5em;
    margin: 0.3em;
    font-size: 13px;
    cursor: pointer;
    color: white;
}

.interet-sport,
.tag.interet-sport {
    background-color: rgba(76, 76, 226, 0.7);
}

.interet-culture,
.tag.interet-culture {
    background-color: rgba(0, 128, 0, 0.7);
}

.interet-musicale,
.tag.interet-musicale {
    background-color: rgba(128, 0, 128, 0.7);
}

.interet-nerd,
.tag.interet-nerd {
    background-color: rgba(205, 111, 23, 0.7);
}

.interet-social,
.tag.interet-social {
    background-color: rgba(64, 224, 208, 0.7);
}

.interet-art,
.tag.interet-art {
    background-color: rgba(255, 192, 203, 0.816);
}

.interet-selected {
    background-color: rgb(76, 76, 226);
}

.interet-selected.interet-culture {
    background-color: green;
}

.interet-selected.interet-musicale {
    background-color: purple;
}

.interet-selected.interet-nerd {
    background-color: rgb(205, 111, 23);
}

.interet-selected.interet-social {
    background-color: var(--turquoise);
}

.interet-selected.interet-art {
    background-color: var(--pink);
}


.interet-btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 1em 2em;
    border-radius: 5px;
    cursor: pointer;
}
.buttonDetail{
    background-color: white;
}
/*BOUTONS DANS INTERETS MODAL/OVERLAY*/
.interet-modal button{
    padding: 0.7em 0.7em;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
.interet-btn-submit{
    background-color: #007bff;
    color: white;
}
.interet-btn-annuler{
    background-color: #9ea8b3;
    color: white;
}
.close-button-interet{
    position: absolute;
    top: 1em; 
    right: 1em; 
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    z-index: 1001; 
}

.close-button {
    position: absolute;
    top: 2em;
    right: 2em;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.close-button:hover {
    color: red;
}
