body {
    background-color: #fdf7df;
    font-family: 'Helvetica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em; 
    flex-wrap: wrap;

}

.headerContainer {
    margin-bottom: 20px;
}

.image_login img {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

.formContainerLogin {
    background-color: white;
    padding: 2.5em;
    width: 25em;
    box-shadow: 0 0.125em 0.625em rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    text-align: center;
    border-width: 1px;
    border-color: #606770;
}
/*
input[type="text"], input[type="password"], input[type="email"], input[type="date"] {
    width: 100%;
    padding: 0.9375em;
    margin: 0.625em 0;
    border-radius: 0.375em;
    border: 1px solid #dddfe2;
    font-size: 1em;
}

*/
.inputSignup {
    width: 100%;
    padding: 0.9375em;
    margin: 0.625em 0;
    border-radius: 0.375em;
    border: 1px solid #dddfe2;
    font-size: 1em;
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;         
}

.inputSignup.select {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="%23999" stroke-width="2" viewBox="0 0 16 16"%3E%3Cpath d="M4 6l4 4 4-4" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E'); /* Flèche simple */
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    background-size: 1em;
}


header h1 {
    font-size: 2em;
    color: #333;
}

header h2 {
    font-size: 1.5em;
    color: hsl(0, 0%, 0%);
}
.errorMessage {
    color: red;
    font-size: 0.75em;
    text-align: left;
}

.formButton {
    margin-top: 1.25em;
}

.formButton button {
    width: 100%;
    background-color: #f1ae94;
    color: white;
    padding: 0.9375em;
    border: none;
    border-radius: 0.375em;
    font-size: 1em;
    cursor: pointer;
}

.formButton button:hover {
    background-color: #efb8a3;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    font-family: "Roboto", sans-serif;
    z-index: 100;
}

.footer p {
    padding: 5px;
    margin: 0;
    border-color: #888888;
}

@media only screen and (max-width: 1075px) {
    .formContainerLogin {
        float: right;
    }
}
