body {
    background-color: #f0f2f5;
    font-family: 'Helvetica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.formContainerLogin {
    background-color: white;
    padding: 2.5em;
    width: 25em;
    box-shadow: 0 0.125em 0.625em rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    text-align: center;
    border-width: 1px;
    border-color: #606770;
}

header h2 {
    font-size: 1.5em;
    color: #f42da8;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"] {
    width: 100%;
    padding: 0.9375em;
    margin: 0.625em 0;
    border-radius: 0.375em;
    border: 1px solid #dddfe2;
    font-size: 1em;
}

input:focus {
    border-color: #4a4c93;
    outline: none;
}

label {
    font-size: 0.875em;
    color: #606770;
    text-align: left;
    display: block;
    margin-top: 0.625em;
}

.errorMessage {
    color: red;
    font-size: 0.75em;
    text-align: left;
}

.formButton {
    margin-top: 1.25em;
}

.formButton button {
    width: 100%;
    background-color: #ea69cc;
    color: white;
    padding: 0.9375em;
    border: none;
    border-radius: 0.375em;
    font-size: 1em;
    cursor: pointer;
}

.formButton button:hover {
    background-color: #bd1582;
}

p {
    font-size: 0.875em;
    margin-top: 1.25em;
}

a {
    color: #1877f2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
