.container-meetups {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 3em;
    justify-content: center;
}

.container-meetup {
    display: flex;
    width: 30em;
    flex-direction: column;
    border: 0.15em solid var(--neutral-600);
    border-radius: .5em;
    border-top: hidden;
}

.container-meetup:hover {

    background-color: var(--neutral-100);
    border-color: var(--neutral-950);
}

.image {
    border-radius: .4em;
    width: 100%;
    max-height: 8em;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    transform: scale(1.008);
}

.meetup-header {
    font-weight: bold;
    font-size: 1.7em;
    padding-bottom: .05em;
    margin-left: .5em;
    margin-right: .5em;
    border-bottom: 0.1em solid var(--neutral-600);

}

.flex-row {
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    column-gap: .5em;
    align-items: center;

}

.text {
    font-size: 1.2em;
    font-weight: bold;
}

.profile-picture {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: .2em solid white;
    object-fit: cover;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.grid-info {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: 100%;
}

@media only screen and (max-width: 620px) {
    .container-meetup {
        width: 20em;
        }

}