a:hover i,
a,
i {
  text-decoration: none !important;
  color:var(--text) !important;
}

.meetup-container {
    width: 80%;
    margin-top: 5em;
}

.meetup-form-container {
    border: 0.1em solid var(--border);
    border-radius: 0.8em;
    padding: 1em;
}

.underline {
    border-bottom: 2px solid var(--pink);
    padding-bottom: 0.3em;
}

label {
    color: #606770;
    text-align: left;
    display: block;
}

input,
textarea,
select {
    background-color: #f7edf7 !important;
}

.img-preview{
    width: 100%;
    max-height: 20em;
    -o-object-fit: cover;
       object-fit: cover; -o-object-position: 50% 50%; object-position: 50% 50%;
}

/* drop down css */

.city-dropdown:hover {
    background-color: #e3dae3 !important;
}

.city-dropdown-content {
    display: block;
    position: absolute;
    background-color: #f7edf7;
    overflow: auto;
    width:calc(100% - 10px);
    border: 1px solid var(--neutral-400);
    z-index: 1;
    max-height: 15em;
    border-radius: 0.5em;
    box-sizing: border-box;
    overflow-x: hidden;
    
}
.city-dropdown-content option:hover {
    background-color: #e3dae3;
}

.city-dropdown-content option {
    color: #495057;
    display: block;
    padding: 12px 16px;
}
.show{
    display: block;
}
.selected{
    background-color: var(--background);
}
.selected:hover{
    background-color: var(--background) !important;
}
.city-dropdown-content option:active {
    background-color:var(--background);
}

input[type="file"]::file-selector-button {
    border-radius: 0.3em;
    padding: 0 0.5em;
    cursor: pointer;
    height: 1.94em;
    background-color:  #f7edf7 !important;
    margin-right: 1em;
    border: 1px solid #ced4da;
    
    }

  input[type="file"]{
    background-color: var(--background) !important;
    content:"GRR";

  }
.btn-pink{
    background-color: var(--pink);
    color: white !important;
}


 /* le file uploader */

.fileUploader-container{
    border: 0.08em solid var(--border);
    border-radius: .8em;
    display: flex;
    flex-direction: column;
    width:100%;
 }

 .fileUploader-header{
    display: inline-flex;
    padding:.5em;
    border-bottom: 0.08em solid var(--border);
    height: -moz-fit-content;
    height: fit-content;
    box-sizing: border-box;
 }
 .fileUploader-header-btn{
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--background) !important;
    padding:.2em 0.5em;
    border: 1px solid #999;
    border-radius: 3px;
    font-weight: 700;
    font-size: 10pt;
    text-wrap: wrap;
 }
 /*.fileUploader-header-btn::before {
    content: 'Choisir une image';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  } */
