.custom-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: auto;

}

.container-custom-modal {
    padding: 2em;
    color: white;
    text-align: center;
    border-radius: 1em;
    margin-left: 25%;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 4rem 2rem 1rem 2rem;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, .15);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    margin-top: 2em;
    margin-bottom: 2em;

}

.mb-3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mb-3 label {
    min-width: 100px;
}

.form-control,
.form-select {
    flex: 1;
}

.container-custom-modal input {
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, .15);
}
