@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
/* Variables */
:root {

    --text: #150e0d;
    --white: #ffffff;

    --neutral-50: #f5f5f5;
    --neutral-100: #ebebeb;
    --neutral-150: #e2e2e2;
    --neutral-200: #d9d9d9; /* Main color for border */
    --neutral-300: #c7c7c7;
    --neutral-400: #b5b5b5;
    --neutral-500: #a3a3a3;
    --neutral-600: #8f8f8f;
    --neutral-700: #7b7b7b;
    --neutral-800: #676767;
    --neutral-900: #535353;
    --neutral-950: #2d2d2d;

    --background-50: #f1f4f1; /* Main color */
    --background-100: #e2e9e4;
    --background-200: #c5d3c9;
    --background-300: #a9bcae;
    --background-400: #8ca692;
    --background-500: #6f9077;
    --background-600: #59735f;
    --background-700: #435648;
    --background-800: #2c3a30;
    --background-900: #161d18;
    --background-950: #0b0e0c;
    
    --primary-50: #fcede9;
    --primary-100: #f8dad3;
    --primary-200: #f1b6a7;
    --primary-300: #ea917b;
    --primary-400: #e36c4f; /* Main color */
    --primary-500: #dd4822;
    --primary-600: #b0391c;
    --primary-700: #842b15;
    --primary-800: #581d0e;
    --primary-900: #2c0e07;
    --primary-950: #160703;
    
    --secondary-50: #eefaeb;
    --secondary-100: #ddf4d7;
    --secondary-200: #baeaae;
    --secondary-300: #98df86; /* Main color */
    --secondary-400: #76d45e;
    --secondary-500: #53c936;
    --secondary-600: #43a12b;
    --secondary-700: #327920;
    --secondary-800: #215115;
    --secondary-900: #11280b;
    --secondary-950: #081405;

    --accent-50: #fdf5e7;
    --accent-100: #fbebd0;
    --accent-200: #f7d8a1;
    --accent-300: #f4c471;
    --accent-400: #f0b042; /* Main color */
    --accent-500: #ec9c13;
    --accent-600: #bd7d0f;
    --accent-700: #8e5e0b;
    --accent-800: #5e3f08;
    --accent-900: #2f1f04;
    --accent-950: #181002;

    --category-1: #3C57B0;
    --category-1-pale: #8aa9e4;
    --category-1-bg: #D3D8F0;
    --category-2: #F7B01E;
    --category-2-pale: #f7d885;
    --category-2-bg: #F9E8C7;
    --category-3: #E62A65;
    --category-3-pale: #f8a7c0;
    --category-3-bg: #F4D4E0;
    --category-4: #199588;
    --category-4-pale: #7ed9d2;
    --category-4-bg: #C9EFE3;
    --category-5: #54AC58;
    --category-5-pale: #b4e1b3;
    --category-5-bg: #D4EAD6;
    --category-6: #9936AC;
    --category-6-pale: #d9a7e8;
    --category-6-bg: #E8D4F0;

    --personality-color: var(--neutral-400) !important;
    --personality-color-pale: var(--neutral-200) !important;
    --personality-color-pale-more: var(--white) !important;
    --personality-text-color: var(--background-800) !important;
    --personality-text-button: var(--background-950) !important;
    --personality-text-color-button: var(--white) !important;

    --success: #202922;
    --error: #dc3545;
    --accept: #28a745;

    --link: #007bff;
    --link-dark: #003474;
    --selection: #90c6ff;

    --border: #606770;
    --pink: #f42da8;
}

.analystes {
    --personality-color: #c3b0cd !important;
    --personality-color-pale: #decee7 !important;
    --personality-color-pale-more: #f4e9fa !important;
    --personality-text-color: #6c4d7b !important;
    --personality-text-button: #a65d9c !important;
    --personality-text-color-button: #ffffff !important;
}

.diplomates {
    --personality-color: #b1f2d7 !important;
    --personality-color-pale: #eafaf1 !important;
    --personality-color-pale-more: #e6f7e9 !important;
    --personality-text-color: #277d58 !important;
    --personality-text-button: #5cdc7c !important;
    --personality-text-color-button: #ffffff !important;
}

.sentinelles {
    --personality-color: #a7d6e6 !important;
    --personality-color-pale: #cce4ec !important;
    --personality-color-pale-more: #e9f5f9 !important;
    --personality-text-color: #347990 !important;
    --personality-text-button: #75a4f5 !important;
    --personality-text-color-button: #ffffff !important;
}

.explorateurs {
    --personality-color: #f4e27b !important;
    --personality-color-pale: #eee4a7 !important;
    --personality-color-pale-more: #f5f0d1 !important;
    --personality-text-color: #e4ae3a !important;
    --personality-text-button: #e4c246 !important;
    --personality-text-color-button: #ffffff !important;
}

/* Selection Color */
::-moz-selection {
    background-color: var(--selection);
}

::selection {
    background-color: var(--selection);
}

/* For icons, do not touch */
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-rounded {
    flex-shrink: 0;
    vertical-align: middle; 
}

/* -------------------- Master page layout --------------------*/
body {
    background-color: var(--background-50);
    margin: 0;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    font-family: "Poppins", sans-serif !important;
    color: var(--text);
    font-size: 16px;
    background-color: var(--white);
}

#main {
    position:relative;
    width: 100%;
    height: 100%;
    grid-template-columns: min-content 1fr;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 0;
    grid-template-areas:
         "navbar content";
}

#content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    max-width: 100%;
    background-color: var(--background-50);
}
/* -------------------- Footer --------------------*/
.pg-footer {
    color: #ecf0f1;
    font-family: Arial, sans-serif;
}
#footer{
    margin-top: auto;
    background-color: var(--background-600);
    text-align: center;
    width: 100%;
}
.footer-wave-svg {
    position: relative;
    width: 100%;
    height: 100px;
}
.menu__link:hover {
    text-decoration: underline;
}
#footer{
    background-color: var(--background-600);
    text-align: center;
    width: 100%;
}

.footer-wave-path {
    fill:#f1f4f1;
}

.menu {
    list-style-type: none; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    text-decoration: none;
    align-items: center;
  }
.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    opacity: 0.75;
    font-weight: 300;
  }
/* -------------------- Navigation layout --------------------*/

#navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    padding: 1em;
    background-color: var(--white);
    box-shadow: 0 0.125em 0.625em rgba(0, 0, 0, 0.1);
    z-index: 100;
}

#navbar > .title {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.5em;
    font-weight: 600;
    padding: 1em;
}

#navbar > .title img{
    width: 2em;
    height: 2em;
}

#navbar > .shrinked_title {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    padding: 1em 0 1em 0;
}

.profile_image {
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--personality-color-pale);
    border: 2px solid var(--personality-color);
    box-sizing: border-box;
}

.navbar_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
    border-radius: 0.8em;
    font-size: 1em;
    font-weight: 500;
    background-color: var(--white);
    cursor: pointer;
}

.navbar_icon img {
    width: 2.5em;
    height: 2.5em;
}

.navbar_icon:has(img) {
    padding: 0.25em;
}

.navbar_icon > .profile_image {
    border-width: 1px;
}

.navbar_item.active {
    filter: brightness(0.9);
}

.navbar_item:not(.active):hover {
    filter: brightness(0.9);
}

.navbar_item {
    display: flex;
    flex-direction: column;
}

.navbar_item > .shrinked_title {
    position: relative;
    display: flex;
    width: 100%;
}

.shrinked_title img {
    width: 2em;
    height: 2em;
}

.navbar_item > .shrinked_title > .title {
    position: absolute;
    background-color: var(--white);
    padding: 0.5em;
    left: calc(100%);
    border-radius: 0 0.8em 0.8em 0;
    height: 2em;
    align-items: center;
    font-weight: 500;
    overflow: hidden;
    display: none;
    width: auto;
    max-width: 0;
    box-sizing: content-box;
    white-space: nowrap;
}

.shrinked_only {
    display: none !important;
}

.header-nav{
    display:none;
}
.header-nav .header_btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
    justify-content: center;
}

.header-nav .title {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.5em;
    font-weight: 600;
}
/* Menu déroulant dans la navBar*/
.profile-menu-container {
    position: relative;
    display: inline-block;
}

.profile-menu-container {
    position: relative;
}

.profile-menu-container .profile-dropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    filter: brightness(0.9);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    width: 12.5rem;
    padding: 0.625rem 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.profile-menu-container:hover .profile-dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

.profile-dropdown a {
    display: block;
    padding: 0.625rem 1.25rem;
    color: #333;
    text-decoration: none;
    font-size: 0.875rem;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile-dropdown a:hover {
    background-color: #f0f0f0;
    font-weight: bold;
}

/* -------------------- Navigation nav bar pour notification--------------------*/
.notification-badge-container{
    position: relative;
}
.notification-badge{
    position: absolute;
    left: 2.1em;
    top:0.2em;
    background-color: red;
    border-radius: 50%;
    width: 1em ;
    height: 1em ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.notif-count{
    color:white;
    font-size: .85em;
    line-height:unset;
}

@keyframes shrinked_title_width {
    from {max-width: 0;}
    to {max-width: 50em;}
} 

@media only screen and (max-width: 1200px) {
    #navbar > .title {
        display: none;
    }

    .navbar_icon > .title {
        display: none;
    }

    .shrinked_only {
        display: flex !important;
    }

    .navbar_item:hover > .shrinked_title > .title {
        display: inline-flex;
        animation-name: shrinked_title_width;
        animation-duration: 0.8s;
        max-width: 50em;
    }

    .navbar_item:hover > .navbar_icon {
        border-radius: 0.8em 0 0 0.8em;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    #main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: min-content 1fr min-content;
        grid-gap: 0;

        grid-template-areas:
            "header"
            "content"
            "navbar";
    }

    #navbar {
        flex-direction: row;
        justify-content: space-around;
        border-right: none;
        width:  auto;
    }

    #navbar > #nav-form {
        display: none;
    }

    #navbar .navbar_notification {
        display: none;
    }

    #navbar > .title {
        display: none;
    }

    .navbar_icon > .title {
        display: none;
    }

    .shrinked_only {
        display: none !important;
    }
    
    .navbar_item:hover > .navbar_icon {
        border-radius: 0.8em;
    }

    #footer {
        display: none;
    }
    .profile-menu-container .profile-dropdown {
        display: none!important;
    }
    .header-nav {
        height: 4em;
        z-index: 2001;
        width: 100%;
        padding: 1em;
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        background-color: var(--white);
        text-align: center;
        box-sizing: border-box;
        box-shadow: 0 0.125em 0.625em rgba(0, 0, 0, 0.1);
    }
    .header-logo {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
    .header-logo .logo {
        height: 2em;
    }
    .header-title{
        font-size: 1.5em;
        font-weight: 600;
        color: var(--text);
    }
    .hideNotification{
        display: none !important;
    }
    .notification-badge{
        right:.1em !important;
        left: 0;
        top:.2em;
        width: .9em !important;
        height: .9em !important;
        font-size: .8em;
    }
    .hide_logout {
        display: none !important;
    }
    /* -------------------- Header --------------------*/
    .logo{
        width: 1.5em !important;
        height: 1.5em !important;
    }
    .header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: var(--white); 
    }

    .navbar_notification .title.no_select {
        font-weight: bold;
        user-select: none; 
    }

    .navbar_notification.pointer {
        position: relative;
        cursor: pointer;
    }

    .notification-container {
        position: absolute;
        top: -5px;
        right: -10px;
    }

    .notification-badge {
        background-color: red;
        color: var(--white);
        border-radius: 50%;
        padding: 0.3em 0.6em;
        font-size: 14px;
    }

    .notif-count {
        font-size: 12px;
        font-weight: bold;
    }

    .material-symbols-rounded#menu-icon {
        font-size: 24px;
        cursor: pointer;
    }

    #dropdown-menu {
        display: none; 
        position: absolute;
        right: 0px;
        top: 50px;
        background-color: var(--white);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 5px;
        z-index: 1000;
    }

    #dropdown-menu:hover {
        display: block; 
    }

    .dropdown-item {
        display: block;
        padding: 8px 12px;
        color: #333;
        text-decoration: none;
        font-size: 14px;
        transition: background-color 0.3s;
    }

    .dropdown-item:hover {
        background-color: #f4f4f4;
    }


    #dropdown-menu.show {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .icon_md {
        font-size: 24px;
    }

    .notification-badge {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: red;
        color: white;
        padding: 3px 6px;
        border-radius: 50%;
        font-size: 12px;
    }

    .menu-icon {
        font-size: 30px;
        cursor: pointer;
    }

    .navbar_logout {
        display: flex;
        align-items: center; 
        justify-content: flex-start;
        gap: 0.5em;  
    }

    .navbar_logout .icon_md {
        font-size: 24px; 
    }

    .navbar_logout span {
        vertical-align: middle;  
    }


}
@media (max-width: 768px) {
    .menu-icon {
        font-size: 28px;
    }
}
   /* -------------------- Header GUEST--------------------*/
.header-nav-guest{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6em;
    background-color: var(--white); 
    z-index: 2001;
    width: 100%;
    gap: 10px;
    display: flex !important;
    position: sticky;
    top:0;
    font-size: 0.8em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-nav-guest .title{
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 2em;
    font-weight: 600;
    margin-left: 0.5em;
}
.logo{
    width: 1.5em !important;
    height: 1.5em !important;
}
.menus-guest{
    gap: 0.3em;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}
.navbar-item-guest{
    display: inline-flex;
}
.menus-guest a{
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    fill: #fff;
    padding: 0.5em;
    background-color: #00798a;
    border-color: #00798a;
    align-items: center;
    text-align: center;
    margin-right: 1em;
    font-size: 1em;
}

.menu-gest .icon_md {
font-size: 0.3em !important;
}
/*-------------------- General styles --------------------*/
.no_select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox and Internet Explorer */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.no_wrap {
    white-space: nowrap !important;
}
.text_nowrap {
    position: relative;
    width: 100%;
}

.text_nowrap > * {
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    width: 100%;
}
.no_overflow {
    overflow: hidden !important;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.text_center {
    text-align: center !important;
}

a {
    text-decoration: none;
    color: var(--text);
}

.link {
    color: var(--link) !important;
}

.link.dark {
    color: var(--link-dark) !important;
}

.link:hover {
    text-decoration: underline !important;
}

.icon_xs {
    font-size: 1em !important;
}

.icon_sm {
    font-size: 1.5em !important;
}

.icon_md {
    font-size: 2em !important;
}

.icon_lg {
    font-size: 2.5em !important;
}

.icon_xl {
    font-size: 3em !important;
}

.hover_darker:hover {
    filter: brightness(0.9);
}

.hover_lighter:hover {
    filter: brightness(1.1);
}
/* -------------------- TAGS --------------------*/

.tag {
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    padding: 0.25em 0.75em;
    border-radius: 0.75em;
    background-color: var(--neutral-600);
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.color_tag {
    background-color: var(--personality-color) !important;
    color: var(--personality-text-color-button) !important;
}

.square_tag {
    padding: 0.25em 0.5em;
}

/* -------------------- Buttons --------------------*/
.btn_primary {
    background-color: var(--primary-400);
    color: var(--white);
    border: none;
    border-radius: 0.8em;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content;
    font-family: inherit;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.btn_primary:hover {
    filter: brightness(1.1);
}
.btn_accept {
    background-color: var(--primary-400);
    color: var(--white);
}
.btn_accept:hover{
    background-color:var(--secondary-300);
}
.btn_refuse {
    background-color: var(--neutral-500)!important;
    color: black;
}
.btn_refuse:hover {
    background-color: var(--primary-600);
    color: var(--white);
}
.grey_text {
    color: rgb(168, 168, 168);
}
.btn_back {
    position: absolute;
    top: 0.3rem;
    left: 6rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #6795c68d;
    color: white;
    border: none;
    border-radius: 1.25rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.btn_back .material-symbols-outlined {
    font-size: 1.25rem;
}

.btn_back:hover {
    background-color: var(--primary-400);
    transform: scale(1.05);
}

.btn_back:active {
    transform: scale(0.95);
}
/* Style du bouton d'ami */
.friend-menu {
    position: relative;
}

.btn-text {
    margin-right: 8px;
}

.btn-text-remove {
    display: none; 
    margin-right: 8px;
}

.btn_friends:hover .btn-text {
    display: none;  
}

.btn_friends:hover .btn-text-remove {
    display: inline-block; 
}

.btn_friends:hover .material-symbols-rounded {
    transform: rotate(45deg); 
}

.btn-container {
    margin: 1em;
    box-sizing: border-box; 
}

.btn_friends {
    display: inline-block!important;
    min-width: fit-content;
    padding: 0.5em 1em;
    width: 13em;
    font-size: 1em;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-400);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.btn_friends:hover {
    filter: brightness(1.1);
    color: var(--neutral-100);
    transform: scale(1.05);
}
.grey.btn_friends:hover {
    background-color: var(--neutral-800)!important;
    color: var(--neutral-100);
    transform: scale(1.05);
}
.btn_friends:active {
    transform: scale(0.98);
}

.btn_friends:disabled {
    background-color: var(--neutral-200);
    color: var(--neutral-500);
    cursor: not-allowed;
    border: 2px solid var(--neutral-300);
}
.acceptContainer {
    display: flex;
    gap: 2em;
    font-size: 1em !important;
}

.buttonn {
    text-decoration: none;
    text-align: center;
    padding: 0.4em;
    width: 5em;
    min-width: fit-content;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    background-color: var(--primary-400);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.buttonn:hover {
    background-color: var(--primary-200);
    color: var(--neutral-100);
    transform: scale(1.05);
}

/* -------------------- FlahsMessage--------------------*/

.flash-message {
    width: auto;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background: #70c48f;
    border: 3px solid #54926c;
    width: 80%;
    color: white;
    border-radius: 3px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -50px;
    transform: translateX(-50%);
    left: 50%;
    padding: 10px;
    z-index: 101;
    animation: movein 0.5s ease forwards, moveout 0.5s 3s ease forwards;
}

.flash-message-error {
    background: rgb(189, 17, 17);
    border: 3px solid rgb(117, 9, 9);
}

@keyframes movein {
    from { top: -50px; }
    to { top: 0px; }
}

@keyframes moveout {
    from { top: 0px; }
    to { top: -100px; }
}

.selections .tag {
    cursor: pointer;
}

/* -------------------- Page FAQ--------------------*/

.faq-container {
    font-family: Arial, sans-serif;
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.accordion {
    margin-top: 20px;
}

.accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.accordion-header {
    background: var(--primary-400);
    color: #fff;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
}

.accordion-header:hover {
    background: var(--primary-800);
}

.accordion-body {
    display: none;
    padding: 15px;
    background: #fff;
    color: #333;
}

.accordion-item.active .accordion-body {
    display: block;
}
