#content {
    overflow: hidden;
}

#footer {
    display: none;
}

#event_cntr {
    padding: 2em 2em 0em 2em;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: start;
}

#event_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    margin-bottom: 0.5em;
}

@media only screen and (max-width: calc(600px)) {
    #event_cntr {
        padding: 0em 0em 0em 0em;
        transition: 0.2s;
        align-items: center;
    }

    .banner {
        padding: 2em;
        padding-bottom: 0em;
        box-sizing: border-box;
        transition: 0.2s;
    }
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 1em 1em 1em 1em;
    gap: 1em;
    z-index: 1;
    border-radius: 2em 2em 0 0;
    background-color: var(--background-50);
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0.5em;
}

.section > .title {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
}

.showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
}

.showcase > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event_name {
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    line-height: 100%;
}

.background_cntr {
    position: relative;
    z-index: -1;
    width: 100%;
}

.background_cntr img {
    position: absolute;
    min-width: 100%;
    filter: blur(7px) brightness(0.7);
}

.background_cntr div {
    position: absolute;
    width: 100%;
    height: 100vh;
    filter: blur(7px) brightness(0.7);
}

.banner {
    height: 20em;
}

.banner img {
    flex: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2em;
}

.text_light {
    color: var(--neutral-500);
    font-weight: 500;
    letter-spacing: -0.1em;
    font-size: 0.9em;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.owner_cntr {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

.owner_cntr .banner_owner {
    height: 4em;
    width: 4em;
    overflow: hidden;
    margin: 0.75em;
    border-radius: 4em;
    flex-shrink: 0;
    background-color: var(--personality-color-pale) !important;
    border: 2px solid var(--personality-color);
}

.owner_cntr {
    width: fit-content;
    align-self: flex-start;
}

.owner_cntr .banner_owner img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}

.owner_cntr .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.owner_cntr .content .name {
    font-size: 1.5em;
    font-weight: 500;
}
.owner_cntr:has(.btn_container_request) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.owner_cntr .cntr_row_btn {
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    align-items: center;
}

.btn_container_request {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.btn_container_request form {
    width: 100%;
}
.btn_c  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}