/* -------------------- Footer --------------------*/
.pg-footer {
    color: #ecf0f1;
    font-family: Arial, sans-serif;
}
#footer{
    background-color: var(--background-600);
    text-align: center;
    width: 100%;
}
.footer-wave-svg {
    position: relative;
    width: 100%;
    height: 100px;
}
#footer{
    background-color: var(--background-600);
    text-align: center;
    width: 100%;
}

.footer-wave-path {
    fill:#f1f4f1;
}

.menu {
    list-style-type: none; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    text-decoration: none;
    align-items: center;
  }

.footer-bottom {
  color: #fff;
}