.pageContainerLogin {
    display:  flex; 
    flex-direction:  row; 
    justify-content: center;
    align-items:  center;
    width:  auto; 
    height:  fit-content !important; 
    margin:  auto auto; 
    border-radius:  4px; 
    min-height: fit-content;
}

#loginOverlay .container-custom-modal {
    overflow-y: auto !important;
    overflow-x: hide !important;
}

.errorMessage{
    color:var(--error);
    font-weight: bold;

}
.img_login_left {
    position: sticky;
    top: 0;
    align-self: flex-start;
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(222, 233, 230, 0.6);
    margin-top:2em;
    border-radius:  4px; 

}
.headerContainer {
    margin-bottom: 20px;
}


.image_login img {
    padding-top: 15%;
    width: 120px;
    height: auto;
    margin-bottom: 10px;

}

.formContainerLogin {
    padding:  40px 30px; 
    display:  flex; 
    flex-direction:  column;
    align-items:  flex-start; 
    padding-bottom:  20px; 
    width:  300px; 
    min-height: fit-content;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"],select {
    width: 100%;
    padding: 0.9375em;
    margin: 0.625em 0;
    border-radius: 0.375em;
    border: 1px solid #dddfe2;
    font-size: 1em;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
    cursor: text;
}
.entryarea {
    position: relative;
}

.password_area {
    text-align: left;
}

.togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa; 
    height: fit-content;
    display: flex;
    align-items: center;
}
header h1 {
    font-size: 2em;
    color: #333;
}

header h2 {
    font-size: 1.5em;
    color: var(--text);
}

.errorMessage .error-message{
    color: red !important;
    font-size: 0.75em;
    text-align: left;
}

.formButton {
    margin-top: 1.25em;
}

.formButton button {
    width: 100%;
    background-color: var(--primary-400);
    color: white;
    padding: 0.9375em;
    border: none;
    border-radius: 0.375em;
    font-size: 1em;
    cursor: pointer;
}

.formButton button:hover {
    background-color: var(--primary-300);
}


@media only screen and (max-width: 1075px) {
    .formContainerLogin {
        float: right;
    }
}

@media only screen and (max-width: 720px) {
    .img_login_left {
        display: none;
    }
    #loginOverlay{
        height: 100%;
    }
    #loginOverlay .container-custom-modal{
        width: fit-content;
        font-size: 1.3em;
    }
}