.title1 {
    font-size: 2em;
}

.ibMax {
    display: inline-block;
    width: max-content;
}

.respondButton {
    background-color: rgb(177, 177, 177);
    border-radius: 1em;
    padding: 0.3em 0.6em 0.3em 0.6em ;
    margin: 0.2em;
    color: black;
    border: 0.15em rgb(134, 134, 134) solid;
}

a.respondButton:hover {
    background-color: rgb(92, 92, 92);
    text-decoration: none;
    color: white;
    border: 0.15em rgb(0, 0, 0) solid;
}

.profile {
    display: inline-flex !important;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}
.sideHorizontalFlexInline {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.profilesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18em, 2fr));
    width: calc(100% - 3em);
    padding: 1em 1em 0 1em;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.347);
    border-style: solid none;
    border-width: 1px 0 rgba(0, 0, 0, 0.388);
    margin: 1em 2.55em;
    width: calc(100% - 5em);
}

.userContainer {
    background-color: white;
    border: 1px solid black;
    border-radius: 1em;
    width: max-content;
    padding: 0 0.5em 0 0.5em;
}

.titleBackground {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    border: 1px solid black;
}

.biggerRespondButton {
    background-color: rgb(177, 177, 177);
    border-radius: 1em;
    padding: 0.3em 0.6em 0.3em 0.6em ;
    margin: 0.2em;
    color: black;
    border: 0.15em rgb(134, 134, 134) solid;
    font-size: 1.2em;
}

.biggerRespondButton:hover {
    background-color: rgb(92, 92, 92);
    text-decoration: none;
    color: white;
    border: 0.15em rgb(0, 0, 0) solid;
}
