#footer {
    display: none;
}

#messages_cntr {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    min-height: 0;
    flex-grow: 1;
}

#menu_cntr {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 25em;
    background-color: var(--background-100);
    padding: 10px;
    border-right: 1px solid var(--neutral-200);
    gap: 1em;
    box-sizing: border-box;
}

#search_cntr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

#convos_cntr {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    gap: 1em;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#chat_cntr {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 300px;
    flex-grow: 1;
    gap: 1em;
    padding: 1em;
    max-width: 800px;
    margin: auto auto 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: end;
}

.search_field {
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 0.75em;
    background-color: var(--white);
    border: 1px solid var(--neutral-200);
    font-size: 1em;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
    cursor: text;
}

.search_field:focus {
    outline: none;
    border: 1px solid var(--neutral-400);
}

.icon_btn {
    background-color: var(--white);
    border-radius: 0.5em;
    padding: 0.35em;
    font-size: 1.5em;
    border: 1px solid var(--neutral-200);
}

.convo_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 0.75em;
    cursor: pointer;
    background-color: white;
    height: 4em;
    border: 1px solid var(--neutral-200);
}

.convo_card .profile_image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.convo_img {
    height: 100%;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.convo_name {
    font-size: 1.25em;
    font-weight: 500;
}

.convo_last {
    font-size: 1em;
    color: var(--neutral-600);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    width: 16em;
}

#chat_input_cntr {
    margin: 0 0.5em;
}

#chat_messages_cntr {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0.5em;
}

#chat_messages_cntr::-webkit-scrollbar {
    width: 12px;
}

#chat_messages_cntr::-webkit-scrollbar-track {
    background-color: var(--neutral-200);
    border-radius: 1em;
}

#chat_messages_cntr::-webkit-scrollbar-thumb {
    background-color: var(--neutral-400);
    border-radius: 1em;
}

#chat_messages_cntr::-webkit-scrollbar-thumb:hover {
    background-color: var(--neutral-500);
    border-radius: 1em;
}

#chat_messages_cntr::-webkit-scrollbar-thumb:active {
    background-color: var(--neutral-600);
    border-radius: 1em;
}

.message_text {
    word-break: break-word;
}

.message {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 80%;
    gap: 0.25em;
}

.message_content {
    background-color: var(--white);
    border-radius: 1em;
    padding: 0.75em 1em;
    width: fit-content;
}

.message.received {
    align-self: flex-start;
    align-items: flex-start;
}

.message.received .message_content {
    border-radius: 0.25em 1em 1em 1em;
    margin-left: 1rem;
}

.message.sent {
    align-self: flex-end;
    align-items: flex-end;
}

.message.sent .message_content {
    color: var(--white);
    background-color: var(--primary-300);
}

.message_date {
    font-size: 0.75em;
    color: var(--neutral-600);
    margin-bottom: 0.5rem;
}

.message.received .message_date {
    margin-left: 1.25rem;
}

.message.sent .message_date {
    margin-right: 0.25rem;
}

.profile_image {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    object-fit: cover;
}

.message_user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
    color: var(--neutral-800)
}

@media only screen and (max-width: 800px) {
    #messages_cntr > * {
        display: none;
        width: 100%;
    }

    #messages_cntr > .active {
        display: flex;
    }
}


#relative_cntr {
    position: relative;
    width: 100%;
    z-index: 100;
}

#absolute_cntr {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#absolute_cntr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background-900);
    opacity: 0.5;
    z-index: -1;
}

.popup_cntr {
    display: flex;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    width: 80%;
    max-width: 600px;
    gap: 0.5em;
    padding: 1em;
    background-color: var(--white);
    border-radius: 1em;
    overflow: hidden;
}


@media only screen and (max-width: 600px) {
    #absolute_cntr {
        height: calc(100vh - 8em);
        align-items: end;
    }

    .popup_cntr {
        width: 100%;
        border-radius: 1em 1em 0 0;
    }
}

.popup_cntr > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup_cntr > .header > .title {
    font-size: 1.3em;
    font-weight: 500;
}

.popup_cntr > .content {
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: calc(100vh - 20em);
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.popup_cntr > .content::-webkit-scrollbar { 
    display: none;
}

.filter_cntr {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


.suggestions {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.suggestions .suggestion:first-child {
    border-radius: 0.75em 0.75em 0 0;
}

.suggestions .suggestion:last-child {
    border-radius: 0 0 0.75em 0.75em;
}

.suggestions .suggestion:only-child {
    border-radius: 0.75em;
}

.suggestion + .suggestion {
    border-top: 1px solid var(--neutral-200);
}

.suggestion {
    padding: 0.5em 1em;
    background-color: var(--white);
}

.suggestion:hover {
    cursor: pointer;
}

.suggestions {
    display: none;
}
  
.suggestions:has(.suggestion) {
    display: flex;
}

.selections {
    display: none;
}

.selections:has(.selection) {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

#newchat_btn {
    align-self: flex-end;
}