.custom-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: black;
    overflow-y: scroll;
    z-index: 50;
}

.custom-overlay::before {
    position: absolute;
    content: "";
    background-color: var(--background-100);
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.container-custom-modal {
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    border-radius: 1em;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: var(--white);
    position: relative;
    overflow-y: scroll;
    margin: 2em;
    overflow: hidden;
}


.container-custom-modal > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container-custom-modal > .header > .title {
    font-size: 1.3em;
    font-weight: 500;
}

.container-custom-modal > .header > button {
    background-color: transparent;
}

.container-custom-modal > .body {
    display: flex;
    justify-content: center;
    padding: 1em;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--neutral-200) var(--white);
    height: 100%;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.text-input {
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 0.75em;
    background-color: var(--white);
    border: 1px solid var(--neutral-200);
    font-size: 1em;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
    cursor: text;
}

.text-input:focus {
    outline: none;
    border: 1px solid var(--neutral-400);
}

.select-input {
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 0.75em;
    background-color: var(--white);
    border: 1px solid var(--neutral-200);
    font-size: 1em;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' class='icon icon-prefix-chevron-down' id='icon-prefix-chevron-down' viewBox='0 0 24 24'%3E%3Cpolyline points='6 9 12 15 18 9' fill='none' stroke-linecap='round' stroke-width='2' stroke='black' %3E%3C/polyline%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 0.5em);
    background-position-y: 50%;
}

.select-input:focus {
    outline: none;
    border: 1px solid var(--neutral-600);
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.field > label {
    font-size: 1em;
    font-weight: 500;
    align-self: flex-start;
}

.warning-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.warning-modal-content {
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.345);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    padding: 1.25em;
    border-radius: 0.5em;
    width: 90%;
    max-width: 25em;
    text-align: center;
}

.carousel-container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.close {
    border: none;
    z-index: 1;
    top: 1.25em;
    right: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background: #fff;
    color: #727E9F;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
    filter: drop-shadow(0 5px 20px rgba(0, 0, 0, .1));
    outline: none;
}

.carousel-slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-left {
    transform: translateX(-100%);
}

.container-custom-modal::-webkit-scrollbar {
    width: 8px;
}

.container-custom-modal::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.container-custom-modal::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.container-custom-modal::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.containerButtonsModal {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1.5em;
}

.submit-btn {
    background-color: var(--primary-400);
    color: white;
    border-radius: 1em;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    border: none;
}

@media (max-width: 600px) {
    .custom-overlay {
        height: calc(100vh - 5em);
    }

    .container-custom-modal {
        margin: 0;
        border-radius: 0;
    }
    .container-custom-modal > .body {
        scrollbar-width: none;
    }
}
