.test_container {
	height:100%;
    width: 100%;
    text-align: center;
	margin: 0;
	display: grid;
	place-items: center;
	font-family: sans-serif;
	font-size: 1rem;
    overflow: auto;
	background-image: linear-gradient(
		to bottom right,
		#b3b6bf,
		#99d2ba,
		#8bc1e2,
		#fbcfd0,
		#f4d03f
	);
}

.test_container fieldset {
    width: 70%;
	margin: 1%;
	padding: 5%;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	display: inline-block;
	border: none;
}

.test_container legend {
	font-size: 1rem;
	font-weight: bold;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(2px);
	border-radius: 20px;
	padding: 10px 20px;
	color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.test_container fieldset{
}
.test_container fieldset.selected-question { 
    background-color: #f0f8ff7f; 
}

input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-right: 10px;
	background-color: transparent;
	position: relative;
	top: 6px;
}

input[type="radio"]:checked::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-color: #ca8489;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation: appear 0.8s;
}

label {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

div {
	margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.prev, .next {
	font-size: 1rem;
	font-weight: bold;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(2px);
	border-radius: 20px;
	padding: 10px 20px;
	color: rgb(92, 185, 129);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.prev:hover, .next:hover {
    background-color: #e9a5e4;
}

.sendTest {
	font-size: 1rem;
	font-weight: bold;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(2px);
	border-radius: 20px;
	padding: 10px 20px;
	color: rgb(233, 243, 237);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sendTest:hover {
    background-color: #e9a5e4;
}


@keyframes appear {
	0% {
		transform: translate(-50%, -50%) scale(0);
		background-color: #fff;
	}
	45% {
		transform: translate(-50%, -50%) scale(1.6);
		background-color: #64aedf;
	}
	50% {
		transform: translate(-50%, -50%) scale(1.7);
		background-color: #ad97b3;
	}
	55% {
		transform: translate(-50%, -50%) scale(1.6);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
		background-color: #ca8489;
	}
}
@media (max-width: 768px) {
	.test_container {
		font-size: 1.4rem; 
	}
	
	.test_container fieldset {
		width: 90vw;
        padding: 10px;
	}

	label {
		font-size: 1rem; 
	}
    .test_container legend {
		font-size: 1rem; 
	}
}

@media (max-width: 480px) {
	.test_container {
		font-size: 1rem; 
	}
	
	.test_container fieldset {
		width: 95vw; 
		padding: 10px;
	}

	label {
		font-size: 0.9rem; 
	}
    .test_container legend {
		font-size: 1rem; 
	}
}