
.personality.analystes {
   --personality-color: #c3b0cd !important;
   --personality-color-pale: #decee7 !important;
   --personality-text-color: #6c4d7b !important;
   --personality-text-button: #620756 !important;
   --personality-text-color-button: #ffffff !important;
}

.personality.diplomates {
   --personality-color:  #b1f2d7 !important;
   --personality-color-pale: #d6ece3 !important;
   --personality-text-color: #277d58 !important;
   --personality-text-button: #53b96c !important;
   --personality-text-color-button: #ffffff !important;
}

.personality.sentinelles {
   --personality-color: #a7d6e6 !important;
   --personality-color-pale: #cce4ec !important;
   --personality-text-color: #347990 !important;
   --personality-text-button: #3b76dc !important;
   --personality-text-color-button: #ffffff !important;
}

.personality.explorateurs {
   --personality-color: #f4e27b !important;
   --personality-color-pale: #eee4a7!important;
   --personality-text-color: #e4ae3a !important;
   --personality-text-button: #d4b02b !important;
   --personality-text-color-button: #ffffff !important;
}


a:hover i,
a,
i {
  text-decoration: none !important;
  color:var(--text) !important;
}

body {
    font-size: 16px;
}

#content {
    overflow: hidden;
}

#profile_cntr {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20em 2em 0em 2em;
}

@media only screen and (max-width: calc(600px)) {
    body {
        font-size: 14px;
    }

    #profile_cntr{
        padding: 18em 0em 0em 0em;
    }
}

#background_cntr {
    position: relative;
    width: 100%;
    z-index: -1;
}

#background_cntr img {
    position: absolute;
    width: 100%;
    filter: blur(7px) brightness(0.7);
}

#background_cntr div {
    position: absolute;
    width: 100%;
    height: 100vh;
    filter: blur(7px) brightness(0.7);
}

#info_cntr {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--personality-color-pale) !important; 
    border-radius: 2em 2em 0 0;
    flex-grow: 1;
}

.profile-picture {
    position: relative;
    width: 10em;
    height: 5em;
}

.profile-picture > img {
    position: relative;
    width: 100%;
    border-radius: 50%;
    border: 0.3125em solid white;
    background-color: white;
    -o-object-fit: cover;
       object-fit: cover;
    box-shadow: 0px 0.25em 0.375em rgba(0, 0, 0, 0.1);
    Top: -5em;
    aspect-ratio: 1 / 1;
}

.modifImage {
    width: 30em; 
}

.edit-profile-form {
    max-width: 37.5em; 
    margin: auto;
}

.form-group {
    margin-bottom: 0.9375em; 
}

.profile-picture-preview, .background-picture-preview {
    margin-top: 0.625em; 
    width: 6.25em; 
    height: 6.25em;
    -o-object-fit: cover;
       object-fit: cover;
}

.button_profile {
    margin-left: auto;
    padding-right: 3em;
    text-align: right;
}

.onglet_profile {
    padding: 1em;
    background-color: white;;
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1); 
    overflow-y: auto;
    flex-grow: 1;
}

.btnProfile {
    background-color: var(--personality-text-button) !important;
    color:var(--personality-text-color-button);
    padding: 0.625em 1.25em; 
    font-size: 1em; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}

.btnProfile:hover {
    background-color: #365899;
}

.nav-tabs {
    margin-top: 2em; 
    border-bottom: 0.0625em solid #801111; 
    padding-left: 1.875em; 
    align-items: center;
    flex-wrap: nowrap !important;
}

.nav-tabs .nav-item {
    display: inline-block;
}

.nav-tabs .nav-link {
    color: #467abc;
    padding: 0.625em 1.25em; 
    text-decoration: none;
    font-size: 1em; 
    border: none;
    border-bottom: 0.1875em solid transparent; 
    margin-right: 0.625em; 
}

.nav-tabs .nav-link:hover {
    color: #1877f2;
    background-color: var(--white);
}

.nav-tabs .nav-link.active {
    color: #1877f2;
    border-bottom: 0.1875em solid #1877f2; 
    font-weight: bold;
}

.tab-content {
    padding: 1.25em 1.875em; 
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0.625em rgba(0, 0, 0, 0.1); 
    margin-top: 1.25em; 
}

.containerOnglerMain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#footer {
    display: none;
}

#profile_name {
    font-size: 2em;
    font-weight: 600;
    margin: 0.5em;
}
.blue_button {
    background-color: blue;
    color: white;
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 15px;
}
.grey_button {
    background-color: grey;
    color: white;
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 15px;
}
.green_button {
    background-color: green;
    color: white;
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 15px;
}
.red_button {
    background-color: red;
    color: white;
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 15px;
}
.acceptContainer {
    display: flex;
    gap: 2em
}
/* TEST ONGLET CSS */  
.containerPerso{
    background-color: var(--personality-color) !important;
    border-radius: 10px;
    padding:5em;

}
  .personality-card {
    padding: 20px;
    background-color: #00796b;
    border-radius: 10px;
    background-color: var(--personality-color);
    color: var(--text-color);
  }
  
  .personality-card.analystes {
   --personality-color: #c3b0cd;
    --text-color: #6c4d7b;
  }
  
  .personality-card.diplomates {
   --personality-color:  #d6ece3;
    --text-color: #277d58;
  }
  
  .personality-card.sentinelles {
   --personality-color: #cce4ec;
    --text-color: #347990;
  }
  
  .personality-card.explorateurs{
   --personality-color: #f4e27b;
    --text-color: #e4ae3a;
  }
  
  /*----------------*/
