#search_cntr {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 1em;
    box-sizing: border-box;
}

#search_inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#search_field {
    width: 100%;
    padding: 0.75em 1em;
    border-radius: 0.75em;
    background-color: var(--white);
    border: 1px solid var(--neutral-200);
    font-size: 1em;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
    cursor: text;
}

#search_field:focus {
    outline: none;
    border: 1px solid var(--neutral-400);
}

#search_categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

#search_categories > button {
    flex-grow: 1;
    padding: 0.5em 1em;
    font-size: 1em;
    font-family: "Poppins", sans-serif !important;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid var(--neutral-200);
    border-radius: 0.75em;
}

.selected {
    filter: brightness(0.9);
}

#result {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.event_card {
    width: calc(50% - 1em);
    border: 1px solid var(--neutral-200);
    border-radius: 1em;
    box-sizing: border-box;
    overflow: hidden;
}

@media only screen and (max-width: calc(800px)) {    
    .event_card {
        width: 100%;
    }
}

.banner {
    height: 20em;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: var(--white);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: Top;
    height: 2em;
    gap: 0.5em;
}

.name {
    font-size: 1.5em;
    font-weight: 500;
}

.adress {
    display: flex;
    font-size: 0.9em;
    font-weight: 500;
    align-items: Top;
    color: var(--neutral-600);
    gap: 0.25em;
}

hr {
    width: 100%;
    border: 1px solid var(--neutral-200);
    border-radius: 1em;
}

.infos {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    color: var(--neutral-600);
}